html {
  scroll-behavior: smooth;
}

.box {
  background: #42424f;
  transition: 0.8s;
  height: 100%;
}

.service-box .box1 {
  background: black;
  color: white;
  border-radius: 5px;
  transition: 0.4s;
}

.service-box .box1:hover {
  transform: translateY(-10px);
}

.service-box .box:hover {
  background: black;
  color: white;
  transition: 0.8s;
  border-radius: 5px;
  transform: translateY(-20px);
}

.service-box .box p {
  opacity: 0.6;
}






/* PRCICING START*/

.pricing {
  width: 100%;
  height: auto;
  /*    height: auto;*/
  padding: 50px;
  position: relative;
  /*    margin-top: 10px;*/
}

.pricing:before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  z-index: -1;
}

.pricing .card-1 {
  background: #42424f;
}

.money {
  font-size: 48px;
  line-height: 1;
  color: white;
  margin-top: 10px;
}

.card {
  transition: 0.4s ease;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  color: white;
  background: #42424f;
}

.card-header {
  font-size: 1.6rem;
  font-weight: bold;

  padding: 25px 9 !important;
}

.card-body {
  padding: 30px 0px;
}

.card-body li {
  margin: 10px 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: white;
}

.card-footer {
  padding: 30px 0px !important;
}

.card-footer a {
  border: 1px solid #f9ca24;
  border-radius: 100px;
  margin: 0 5px;
  padding: 12px 35px;
  outline: none;
  color: #f9ca24;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}

.card:hover .card-footer a {
  color: black;
  background: #f9ca24;
  text-decoration: none;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

.card:hover {
  background: #000;
  transform: translateY(-20px);
}

.card:hover .card-header,
.card:hover .money {
  /*    color: #50d1c0;*/
  color: #f9ca24;
}

.second {
  transform: translateY(-20px);
}

/* PRCICING END*/
